.article-container {
  /* Crée un effet de grille de type "masonry" avec des colonnes de 200px */
  column-count: 1;
  column-gap: 10px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.titrearticles{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 100px;
  color: #2c3e50;
}



/* Pour les écrans plus larges, augmentez le nombre de colonnes */
@media (min-width: 400px) {
  .article-container {
    column-count: 2;
  }
}

@media (min-width: 600px) {
  .article-container {
    column-count: 3;
  }
}

@media (min-width: 800px) {
  .article-container {
    column-count: 4;
  }
}

@media (min-width: 1000px) {
  .article-container {
    column-count: 5;
  }
}

.article {
  /* Empêche les articles de se briser entre les colonnes */
  break-inside: avoid;
  border-radius: 10px; 
  margin-bottom: 15px;
  width: 100%;
  transition: transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
  position: relative;
}

.article:hover {
  transform: scale(1.00); /* Agrandit légèrement la carte */
  z-index: 10; /* S'assure que la carte survolée passe au-dessus des autres */
}
.article:not(:hover) {
  transform: scale(0.97); /* Réduit légèrement les cartes qui ne sont pas survolées */
}

.article-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 0; /* Élimine l'espace autour des images inline */
  overflow: hidden;
}

.article-image-container img {
  /* Assure que l'image s'adapte à la largeur de la colonne */
  width: 100%;
  height: auto;
  border-radius: 10px;
  height: auto;
  display: block;
  object-fit: cover;
}

.article-title {
  position: absolute;
  bottom: 0; /* Positionne le titre en bas de l'image */
  left: 0;
  width: 100%; /* Assure que le titre s'étend sur toute la largeur de l'image */
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour la lisibilité */
  color: white;
  text-align: center;
  padding: 0.5em 0; /* Ajoute un peu d'espacement au-dessus et en dessous du texte */
  margin: 0;
  box-sizing: border-box;
  border-bottom-left-radius: 10px; /* Arrondit les coins inférieurs du titre */
  border-bottom-right-radius: 10px;
  font-size: 1em;
}
