.firstblock {
  margin-bottom: 10px;
}

.deproduits {
  background-color: #f8c92a;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.deproduits img {
  width: auto;
  height: 250px;
  position: absolute;
  right: 5rem;
}

@media screen and (max-width: 1400px) {
  .deproduits img {
    display: none;
  }
}